/* 
CSS File for the Kazuma Kiryu page by Lauren LeBlanc
A project for the Aquent Gymnasium course Modern Web Design
Visit github.com/runthegems/runthegems.github.io for the full code!*/

 /* Media Query Controls */
@-ms-viewport {
    width: device-width;
    zoom: 1.0;
  }
@-o-viewport {
    width: device-width;
    zoom: 1.0;
  }
@viewport {
    width: device-width;
    zoom: 1.0;
  }
  
/*Default*/
html {
    background-color:snow;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
}

i[lang="jpn"] {
    font-family: "Noto Sans JP", sans-serif;
}

nav {
    background-color: darkred;
    max-width: 100%;   
}

header {
    font-family: "Edo SZ", Arial, sans-serif;
    font-size: 2em;
    margin-bottom: .15em;
}

main, section {
    margin-top: 0;
    margin-bottom: 1.5em;
    line-height: 1.5;
}

 main a, section a {
    color: slateblue;
    transition: color .3s linear;
}

 a:hover,
 a:focus,
 a:active {
    color: darkred;
}


.navlink {
    color: whitesmoke;
    font-size: 2em;
    line-height: 2.5em;
    text-decoration: none;
    padding: 1em;
}

figure, image {
    border: 2px solid blue;
    height: auto;
    max-width: 100%;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

figcaption {
    text-align: center;
    font-size: 1em;
}

footer {
    border-top: 4px solid #212529;
    font-size: .85em;
}

/*Layout*/
header,
nav,
main,
section, 
footer {
    margin: 0 auto;
    max-width: 1200px;
}


/*>=1200*/
@media only screen and (min-width:75em) {}
/* 1200-690*/
@media only screen and (min-width: 43.125em) and (max-width: 75em) {}
/* <=690*/
@media only screen and (max-width: 43.125em) {}